.header {
    background-color: black;
}

.header__inner {
    margin: 0px auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header__logo-title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.header__nav-logo {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.header__nav-item {
    width: 100%;
}

.header__nav-button {
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}